/* Header Styling */
body {
    border: rgb(127, 228, 194) 15px solid;
    
}


Header {
    padding: 30px;
    border-bottom: rgb(127, 228, 194) 15px solid;
    border-width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(24, 94, 199);
    color: white;
}

.mylogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 5em;
}

.navbar {
    float: right;
    margin-top: 75px;
}

.navbar .navbar_list .navbaritem {
    display: inline-block;
    font-size: 1.5em;
   }

.navbaritem {
    padding: 10px;
}

.navbarlink {
    color: white;
    text-decoration: none;
}

.dividerbar {
    color: black
}

/* main {
    display: flex;
    flex-direction: column;
} */

/* About Me Styling */

.aboutme {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
    border-bottom:rgb(127, 228, 194) solid 15px;
    background-color: rgb(226, 222, 222);
}

#workingdad {
    width: 400px;
    height: 500px;
    
    
}

.aboutmeinfo {
    
}


/* Section Styling */

.sectiontitle {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;

}

.sectiontext {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}