/* Header Styling */
body {
    border: rgb(127, 228, 194) 15px solid;
}


Header {
    padding: 30px;
    border-bottom: rgb(127, 228, 194) 15px solid;
    border-width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(24, 94, 199);
    color: white;
}

.mylogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 5em;
}

.navbar {
    float: right;
    margin-top: 75px;
}

.navbar .navbar_list .navbaritem {
    display: inline-block;
    font-size: 1.5em;
   }

.navbaritem {
    padding: 10px;
}

.navbarlink {
    color: white;
    text-decoration: none;
}

.dividerbar {
    color: black
}

/* About Me Styling */

.aboutme {
    padding: 30px;

}


/* Section Styling */

.sectiontitle {
    font-size: 3em;

}